name: sass_migrator
version: 1.2.3
description: A tool for running migrations on Sass files
author: Jennifer Thakar <jathak@google.com>
homepage: https://github.com/sass/migrator

environment:
  sdk: '>=2.4.0 <3.0.0'

dependencies:
  args: "^1.5.1"
  charcode: "^1.1.0"
  collection: "^1.8.0"
  glob: "^1.2.0"
  js: "^0.6.0"
  meta: ">=0.9.0 <2.0.0"
  node_interop: "^1.0.0"
  node_io: "^1.1.0"
  path: "^1.6.0"
  sass: "^1.24.3"
  source_span: "^1.4.0"
  term_glyph: "^1.1.0"
  tuple: "^1.0.2"

dev_dependencies:
  archive: ">=1.0.0 <3.0.0"
  cli_pkg: "^1.0.0-beta.7"
  crypto: "^2.1.4"
  grinder: "^0.8.0"
  http: ">=0.11.0 <0.13.0"
  node_preamble: "^1.3.0"
  pub_semver: "^1.0.0"
  string_scanner: "^1.0.0"
  test: ">=0.12.29 <2.0.0"
  test_descriptor: "^1.1.1"
  test_process: "^1.0.0"
  xml: ">=2.4.0 <4.0.0"
  yaml: "^2.0.0"

executables:
  sass-migrator: sass_migrator
